.button {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border: 1px solid #858585;
  width: 80px;
  height: 30px;
  color: #fff;

  transform: rotate(0deg);
}

.button::after {
  content: attr(data-name);
}
