.class-default {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("https://drive.google.com/uc?export=view&id=1y7mmtTXrNGaId2KBXCGZJmeyMkLidcm9");
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}

.class-toggled {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("https://drive.google.com/uc?export=view&id=1xnrEpanTKZOgp6jTRkXwXr32VkC_E4pY");
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}
